<mat-form-field *ngIf="show()" [class]="classes" [appearance]="appearance">
    <!-- Not Form Group -->
    <mat-select *ngIf="!hasFormGroup" [formControl]="select.formControl"
                [multiple]="select.config?.multiple ?? false"
                [placeholder]="(hasTransloco) ? (select.config?.placeholder | transloco) : select.config?.placeholder"
    >
        <mat-option *ngIf="config?.selectAll && select.valuesFiltered.length >= 2" [value]="config?.all"
                    (click)="select.verifyAllSelectedByKey('value', {emitEvent: emitEvent})">
            {{ select.config?.selectAllLabel }}
        </mat-option>
        <ng-container *ngFor="let item of select.valuesFiltered">
            <mat-option [value]="item" (click)="(config?.multiple) ? select.removeValueByKey('value','all',{
                            emitEvent: emitEvent
                        }): null"
            >
                {{
                    (pipe === 'titlecase') ? (item.label | titlecase) :
                        item.label
                }}
            </mat-option>
        </ng-container>
    </mat-select>
    <mat-select *ngIf="hasFormGroup"
                [multiple]="select.config?.multiple ?? false"
                [placeholder]="(hasTransloco) ? (select.config?.placeholder | transloco) : select.config?.placeholder"
    >
        <mat-option *ngIf="config?.selectAll && select.valuesFiltered.length >= 2" [value]="config?.all"
                    (click)="select.verifyAllSelectedByKey('value', {emitEvent: emitEvent})">
            {{ select.config?.selectAllLabel }}
        </mat-option>
        <ng-container *ngFor="let item of select.valuesFiltered">
            <mat-option [value]="item" (click)="(config?.multiple) ? select.removeValueByKey('value','all',{
                            emitEvent: emitEvent
                        }) : null"
            >
                {{
                    (pipe === 'titlecase') ? (item.label | titlecase) :
                        item.label
                }}
            </mat-option>
        </ng-container>

    </mat-select>
</mat-form-field>
