<div class="h-full w-full">
    <span class="block my-4 font-medium text-3xl text-primary dark:text-white">
        {{
            config.type === 'create' ? 'Crear Alerta' : 'Editar Alerta'
        }}
    </span>
    <form [formGroup]="form">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 form-custom">
            <generic-select-v2 [customClass]="'w-full'" [config]="{
            label: 'Producto',
            name: 'product_name',
            placeholder: 'Seleccione un producto',
            values: products
        }"/>
            <mat-form-field appearance="outline">
                <mat-label>Nombre Alerta</mat-label>
                <input matInput placeholder="Ejemplo: Alerta de humedad" formControlName="alert_name">
            </mat-form-field>
            <generic-select-v2 [customClass]="'w-full'" [config]="{
            label: 'Condición',
            name: 'condition',
            placeholder: 'Seleccione una condición',
            values: conditions

        }"/>
            <generic-select-v2 [customClass]="'w-full'" [config]="{
            label: 'Operador',
            name: 'operator',
            placeholder: 'Seleccione un operador',
            values: operators

        }"/>
            <mat-form-field appearance="outline"
                            [ngClass]="{
             'md:col-span-2': config.type === 'create'
            }"
            >
                <mat-label>Umbral</mat-label>
                <input matInput placeholder="Ejemplo: 30" formControlName="threshold">
            </mat-form-field>
            <generic-select-v2 *ngIf="config.type === 'edit'" [customClass]="'w-full'" [config]="{
            label: 'Estado',
            name: 'status',
            placeholder: 'Seleccione un estado',
            values: status

        }"/>
            <mat-form-field appearance="outline">
                <mat-label>Ventana de tiempo (min)</mat-label>
                <input matInput type="number" placeholder="Ejemplo: 30" formControlName="time_window">
            </mat-form-field>
            <generic-select-v2 [customClass]="'w-full'" [config]="{
            label: 'Métrica',
            name: 'metric',
            placeholder: 'Seleccione una métrica',
            values: metrics

        }"/>
        </div>
        <mat-divider class="my-4"></mat-divider>
        <div class="flex flex-col gap-y-2 md:flex-row md:gap-x-2 md:gap-y-0 form-custom">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>Correo(s)</mat-label>
                <mat-chip-grid #chipGrid aria-label="Enter keywords">
                    <mat-chip-row *ngFor="let email of form.get('emails')?.value" (removed)="remove(email)">
                        {{ email }}
                        <button matChipRemove aria-label="'remove ' + keyword">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip-row>
                </mat-chip-grid>
                <input [formControl]="email" matInput type="email" placeholder="Ingresa un correo"
                       [matChipInputFor]="chipGrid"
                       (matChipInputTokenEnd)="addFromChip($event)"/>
            </mat-form-field>
            <button mat-flat-button color="primary" class="rounded w-full md:w-max text-md"
                    [disabled]="!validate(email?.value)"
                    (click)="add(email?.value)"
            >
                Agregar
            </button>
        </div>
    </form>
    <mat-divider class="my-4"></mat-divider>
    <div class="my-8 py-6 md:py-0 w-full flex flex-col gap-3 md:flex-row md:justify-end md:gap-x-2">
        <button mat-stroked-button class="w-full md:w-max rounded px-6" (click)="close()">Cancelar</button>
        <button mat-stroked-button color="primary" class="w-full md:w-max rounded px-6 dark:text-white"
                [disabled]="form.invalid"
                (click)="save()">
            {{
                config.type === 'create' ? 'Crear' : 'Actualizar'
            }}
        </button>
    </div>
</div>
