<table-filter #filter [dataSource]="table.dataSource" [items]="itemsFilter">
    <create-alert *ngIf="create" class="order-first form-custom min-h-fit"/>
</table-filter>
<div class="overflow-x-auto my-2">
    <table-basic class="th-md" #table [columns]="columns" [custom]="custom" [action]="action"/>
</div>
<table-paginator [type]="'personalize'"
                 [length]="(this.create) ? response?.total_alerts: response.total_triggered_alerts"
                 [pageSize]="response?.page_size"
                 [pageIndex]="response?.current_page" (onChangePage)="listen($event)"/>

<!-- CUSTOM -->
<ng-template #custom let-data let-column="column">
    <ng-container *ngIf="column === 'alert_name'">
                <span [matTooltip]="data.alert_name">
                    {{
                        data.alert_name | truncateStr : [12, "..."]
                    }}
                </span>
    </ng-container>
    <ng-container *ngIf="column === 'status'">
                <span class="text-md text-center font-medium p-1 px-2 rounded border-2"
                      [ngClass]="{
                    'bg-green-300 border-green-600 text-green-800': data.status === 'Activa',
                    'bg-gray-300 border-gray-600 text-gray-800': data.status === 'Inactiva',
                }"
                >
                    {{
                        data.status | titlecase
                    }}
                </span>
    </ng-container>
    <ng-container *ngIf="column === 'emails'">
                <span class="text-md text-center bg-gray-200 p-1 px-2 rounded dark:bg-gray-700">
                    {{
                        data.emails
                    }}
                </span>
    </ng-container>
    <ng-container *ngIf="column === 'product_name'">
                <span
                    class="text-md font-medium text-center bg-blue-200 text-blue-700 p-1 rounded dark:bg-blue-400 dark:text-blue-900">
                    {{
                        data.product_name
                    }}
                </span>
    </ng-container>
    <ng-container *ngIf="column === 'condition'">
                <span
                    class="text-md font-medium text-center bg-amber-200 text-amber-700 p-1 rounded dark:bg-amber-400 dark:opacity-90 dark:text-amber-800">
                    {{
                        data.condition
                    }}
                </span>
    </ng-container>
    <ng-container *ngIf="column === 'emails'">
        <div class="grid grid-cols-4 gap-2 py-2">
                    <span *ngFor="let item of data.emails"
                          class="text-md text-center bg-gray-200 p-1 rounded dark:bg-gray-700">
                    {{
                            item
                        }}
                </span>
        </div>
    </ng-container>
</ng-template>


<!-- NG template Actions -->
<ng-template #action let-data>
    <button
        [matMenuTriggerFor]="menu"
        [matMenuTriggerData]="{item:data}"
        mat-icon-button
        color="primary"
    >
        <mat-icon
            class="text-lg"
            [svgIcon]="'heroicons_solid:ellipsis-vertical'"
        ></mat-icon>
    </button>
</ng-template>


<!-- MENU OPTIONS -->
<mat-menu #menu="matMenu">
    <ng-template matMenuContent let-item="item">
        <edit-alert [id]="item.alert_id"/>
        <delete-alert [id]="item.alert_id"/>
    </ng-template>
</mat-menu>
