<form [class]="'flex flex-col gap-y-4 form-custom ' + class" [formGroup]="formGroup"
      [ngClass]="{
'md:flex-row md:gap-x-2 md:gap-y-0': items.length > 1,
}"
>
    <ng-template ngFor let-item [ngForOf]="items" let-i="index">
        <mat-form-field *ngIf="item.type === 'input'" [class]="item.class" [appearance]="item.appearance"
                        [hintLabel]="''">
            <mat-icon *ngIf="item.icon" [class]="item.iconClass" [svgIcon]="item.icon"/>
            <mat-label *ngIf="item.label">{{
                    item.label | transloco | titlecase
                }}
            </mat-label>
            <input matInput [formControlName]="item.name" [placeholder]="item.placeholder | transloco">
        </mat-form-field>
        <!-- Select -->
        <mat-form-field *ngIf="item.type === 'select'" [class]="item.class" [appearance]="item.appearance">
            <mat-label *ngIf="item.label">{{
                    item.label | transloco | titlecase
                }}
            </mat-label>
            <mat-select [formControlName]="item.name" [placeholder]="item.placeholder | transloco"
                        [multiple]="item.multiple">
                <!-- Transloco -->
                <ng-container *ngIf="item.translate">
                    <mat-option *ngFor="let itemValue of item.values" [value]="itemValue.value">
                        {{ (item.translate + '.' + itemValue.label | transloco) }}
                    </mat-option>
                </ng-container>
                <!-- Normal -->
                <ng-container *ngIf="!item.translate">
                    <mat-option *ngFor="let itemValue of item.values" [value]="itemValue.value">
                        {{ (itemValue.label | titlecase) ? (itemValue.label | titlecase) : (itemValue.label) }}
                    </mat-option>
                </ng-container>

            </mat-select>
        </mat-form-field>
    </ng-template>
    <ng-content></ng-content>
</form>
