/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

// SETTINGS
@import "styles/settings/_variables.scss";
// COMPONENTS
@import "styles/components/_c-button.scss";
@import "styles/components/_c-table.scss";

.form-custom {

    .mat-mdc-form-field-subscript-wrapper {
        display: none;
    }

    .form-shadow-none {
        .mat-mdc-text-field-wrapper {
            box-shadow: none !important;
        }
    }

    .form-border-none {

        .mat-mdc-text-field-wrapper {
            border: none !important;
        }
    }
}


.stepper-h45 .mat-step-header {
    height: 45px !important;
}

.stepper-px-20 .mat-step-header {
    padding: 0 20px !important;
}


table {
    font-size: 14px !important;

    tr:hover {
        @apply cursor-pointer bg-slate-50 #{!important};
        .dark & {
            @apply bg-slate-900 #{!important};
        }
    }
}

.table-even-odd {
    tr:nth-child(even) {
        @apply bg-slate-50 #{!important};
        .dark & {
            @apply bg-slate-900 #{!important};
        }
    }
}


.mat-mdc-tab-group {
    .dark & {
        .mdc-tab__text-label {
            @apply text-white #{!important};
        }
    }
}


.menu-panel {
    .cdk-overlay-pane {
        min-width: 600px;
    }

}

.custom-panel {
    .mat-mdc-menu-panel.mat-mdc-menu-panel {
        max-width: 400px !important;
        width: 400px !important;
        @media (max-width: 480px) {
            max-width: 100% !important;
            width: 100% !important;
            max-height: 100% !important;
            height: 100% !important;
        }
    }
}


.custom-alert-dialog {
    .mat-mdc-dialog-container .mdc-dialog__surface {
        border-radius: 0 !important;
        padding: 20px;
    }

    @media (max-width: 480px) {
        max-width: 100% !important;
        width: 100% !important;
        max-height: 100% !important;
        height: 100% !important;
    }
}

.th-md {
    @media (max-width: 480px) {
        .mdc-data-table__header-cell {
            box-sizing: border-box;
            text-overflow: ellipsis;
            overflow: hidden;
            outline: none;
            text-align: left;
            min-width: 220px !important;
        }
    }
}





