<mat-paginator *ngIf="type === 'personalize'" [class]="class" [length]="length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="listenPage($event)"
               showFirstLastButtons
               aria-label="Select page">
</mat-paginator>

<mat-paginator *ngIf="type === 'basic'" [class]="class"
               [pageSizeOptions]="pageSizeOptions"
               (page)="listenPage($event)"
               showFirstLastButtons
               aria-label="Select page">
</mat-paginator>

